<% layout("/layouts/boilerplate") %>

    <!-- <h1>All Listings</h1> -->

    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }

        .filter:hover{
            opacity: 1;
        }

        .filter p{
            font-size: 0.8rem;
        }

        .tax-info{
            display: none;
        }

        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.5rem;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
        }

        .filter a{
            text-decoration: none;
            color: inherit;

        }
    </style>

    <div id="filters">
        <div id="Trending" class="filter">
            <a href="<%= category === 'Trending' ? '/listings' : '/listings?category=Trending' %>">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </a>
        </div>
        
        <div id="Rooms" class="filter">
            <a href=<%= category==="Rooms"? "/listings" : "/listings?category=Rooms" %>>
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </a>
        </div>

        <div id="Iconic Cities" class="filter">
            <a href=<%= category==="Iconic Cities"? "/listings" : "/listings?category=Iconic Cities" %>>
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </a>
        </div>

        <div id="Mountains" class="filter">
            <a href=<%= category==="Mountains"? "/listings" : "/listings?category=Mountains" %>>
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </a>
        </div>

        <div id="Castles" class="filter">
            <a href=<%= category==="Castles"? "/listings" : "/listings?category=Castles" %>>
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </a>
        </div>

        <div id="Pools" class="filter">
            <a href=<%= category==="Pools"? "/listings" : "/listings?category=Pools" %>>
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pools</p>
            </a>
        </div>

        <div id="Camping" class="filter">
            <a href=<%= category==="Camping"? "/listings" : "/listings?category=Camping" %>>
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </a>
        </div>

        <div id="Farms" class="filter">
            <a href=<%= category==="Farms"? "/listings" : "/listings?category=Farms" %>>
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </a>
        </div>

        <div id="Arctic" class="filter">
            <a href=<%= category==="Arctic"? "/listings" : "/listings?category=Arctic" %>>
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
        </div>

        <div id="Domes" class="filter">
            <a href=<%= category==="Domes"? "/listings" : "/listings?category=Domes" %>>
                <div><i class="fa-solid fa-landmark-dome"></i></div>
                <p>Domes</p>
            </a>
        </div>

        <div id="Boats" class="filter">
            <a href=<%= category==="Boats"? "/listings" : "/listings?category=Boats" %>>
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
            </a>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display Total After Taxes</label>
            </div>
        </div>
    </div>


    <div class="row row-cols-lg-3
        row-cols-md-2 row-cols-sm-1">
        <% listings.forEach(listing=> { %>
            <a href="/listings/<%=listing._id%>" class="listing-link mt-3">
                <div class="card col">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="Image Not Found" style="height: 20rem;">

                    <div class="card-img-overlay"></div>


                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%=listing.title%>
                            </b>
                            <br>
                            &#8377; <%=listing.price.toLocaleString('en-IN')%>/night
                            <i class="tax-info"> &nbsp; &nbsp;+18% gst</i>
                        </p>
                    </div>
                </div>
            </a>
            <% }) %>
    </div>

    <script>
        let taxSwitch=document.getElementById('switchCheckDefault')
        taxSwitch.addEventListener("click", ()=>{
            let tax_info=document.getElementsByClassName("tax-info")
            for(info of tax_info){
                if(info.style.display!="inline"){
                    info.style.display="inline"
                }
                else info.style.display="none"
            }
        })

        let category="<%= category %>"
        if(category){
            let categoryID=document.getElementById(category)
            categoryID.style.opacity="1";
            categoryID.selected=true;
        }


    </script>